crispy-bootstrap5==2023.10
Django==4.2.9
django-allauth==0.59.0
django-cors-headers==4.3.1
django-crispy-forms==2.1
django-extensions==3.2.3
django-jsonfield==1.4.1
djangorestframework==3.14.0
gunicorn==21.2.0
psycopg2==2.9.9
pytest==7.4.3
requests==2.31.0
python-decouple-3.8
django-environ-0.11.2
WhiteNoise-6.6.0
mysql==0.0.3
mysql-connector==2.2.9
mysql-connector-python==8.2.0
mysqlclient==2.2.0
SQLAlchemy==2.0.25
sqlparse==0.4.4
PyMySQL==1.1.0